{% extends 'back/base_back.html.twig' %}

{% block title %}Ingrédients{% endblock %}

{% block content %}
    <h1> {{ recipe.categories|capitalize }} "{{ recipe.name }}"</h1>

    <a href="{{ path('app_back_recipe_index') }}">retour à la liste</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ingredient.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ ingredient.name}}</td>
            </tr>
            <tr>
                <th>Unit</th>
                <td>{{ ingredient.unit }}</td>
            </tr>

           
        </tbody>
    </table>

    
    <div class="btn-group" role="group">
        <a class="btn btn-primary" href="{{ path('app_back_ingredient_show', {'id': ingredient.id}) }}">show</a>
        {# On affiche le formulaire/bouton de supression que au ROLE_ADMIN #}
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('back/ingredient/_delete_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
